<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adopt A Pet</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body style="box-sizing: border-box; margin: 0">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p
      style="
        background-color: lightcoral;
        color: white;
        padding: 20px;
        margin: 0;
      "
    >
      {{ message }}
    </p>
    {% endfor %} {% endif %} {% endwith %}
    <h1 style="margin: 5px">Pets available for adoptions</h1>
    <ul>
      {% for pet in pets %}
      <li>
        <a href="{{ url_for('edit_pet_form', petId=pet.id) }}">
          <strong style="color: turquoise">{{pet.name}}</strong></a
        >
        {{pet.notes}} {% if pet.photo_url %}
        <img
          src="{{pet.photo_url}}"
          alt="{{pet.name}} photo"
          style="max-width: 200px"
        />
        {% endif %} {% if pet.available %}
        <span style="font-weight: bold">Available</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <a href="/add"
      ><button
        type="submit"
        style="
          background-color: teal;
          color: white;
          border-radius: 4px;
          border: none;
          padding: 5px 10px;
          margin: 10px;
        "
      >
        Add Pet
      </button></a
    >
  </body>
</html>
